.headerTransparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: transparent;
    z-index: 100;
    box-sizing: border-box;
}

.headerContainer {
    max-width: 375px;
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}


.headerWhite {
    background: #f7f9ff;
    color: #000;
}

.headerWhite .logoText {
    color: #000;
}

.headerWhite .headerNavList {
    color: #000;
}

.headerLogoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.headerLogout {
    flex-shrink: 0;
}

.logoText {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    line-height: 20px;
    letter-spacing: -0.01em;

}

.publishTabletOnly {
    display: none;
}

.headerNav {
    display: none;
}

.headerNavList {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerNavList li a,
.headerNavList li button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}


.burgerBtn {
    display: block;
    border-radius: 8px;
    padding: 4px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}

.authHeader .headerNav,
.authHeader .burgerBtn,
.authHeader .publishTabletOnly {
    display: none;
}

.authHeader .logoText {
    color: #000;
}

.authHeader .headerLogoWrapper {
    padding-top: 8.5px;
}



@media screen and (min-width: 768px) {
    .headerContainer {

        max-width: 768px;
    }

    .headerNav {
        width: auto;

    }

    .publishTabletOnly {
        display: block;
        margin-left: auto;
        margin-right: 16px;
    }

    .publishBtn {
        border: 1px solid #4169e1;
        border-radius: 8px;
        padding: 6px 14px;
        background: #4169e1;
        color: #fff;
        font-weight: 500;
        height: 35px;
        font-size: 18px;
        font-family: 500;
    }

    .publishBtn:hover,
    .publishBtn:focus {
        background: #e8eeff;
        color: #000;
        border: 1px solid #4169e1;
    }

    .publishBtn:active {
        background: #7a96ea;
    }
}


@media screen and (min-width: 1440px) {
    .headerSection {

        margin: 0 auto;
    }

    .headerContainer {
        max-width: 1440px;
        height: 72px;
        margin: 0 auto;
    }

    .headerNav {
        display: flex;
        height: 40px;

    }

    .burgerBtn {
        display: none;
    }

    .headerNavList li a {
        font-size: 18px;
        line-height: 27px;
    }

    .headerNavList {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        list-style: none;
        margin: 0;
        padding: 0;
        color: #fff;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        height: 40px;

    }

    .headerNavList li a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        border-radius: 8px;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease;

    }


    .headerNavList li a:hover {
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.1);
    }


    .headerNavList li a:focus-visible {
        outline: 2px solid #fff;
        outline-offset: 2px;
        background: rgba(255, 255, 255, 0.1);
    }

    .headerNav button:focus-visible,
    .headerNav a:focus-visible {
        outline: 2px solid #fff;
        outline-offset: 2px;
        background: #4169e1;
    }

    .headerNavList li a:active {
        background: #d8d8d8;
        color: #000;
        transform: scale(0.98);
    }



    .mobNavList .headerLogout {
        color: #fff;

    }

    .publishTabletOnly {
        display: none;
    }
}