.headerTransparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: transparent;
    z-index: 100;
    box-sizing: border-box;
}

.headerWhite {
    background: #fff;
}

.headerInternal {
    background: #f7f9ff;
    /* внутренние страницы */
}

.headerContainer {
    max-width: 335px;
    margin: 0 auto;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

}


.headerWhite {

    color: #000;
}

.headerWhite .logoText {
    color: #000;
}

.headerWhite .headerNavList {
    color: #000;
}

.headerLogoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.headerLogout {
    flex-shrink: 0;
}

.logoText {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    line-height: 20px;
    letter-spacing: -0.01em;

}

.publishTabletOnly {
    display: none;
}

.headerNav {
    display: none;
}

.headerNavList {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerNavList li a,
.headerNavList li button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}


.burgerBtn {
    display: block;
    border-radius: 8px;
    padding: 4px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.authHeader .headerNav,
.authHeader .burgerBtn,
.authHeader .publishTabletOnly {
    display: none;
}

.authHeader .logoText {
    color: #000;
}

.authHeader .headerLogoWrapper {
    padding-top: 8.5px;
}



@media screen and (min-width: 768px) {
    .headerContainer {
        padding: 16px 32px;
        max-width: 704px;
    }

    .headerContentWrapper {
        display: flex;
        align-items: center;
        /* по вертикали выравнивание */
        justify-content: flex-end;
        /* кнопки и бургер справа */
        gap: 16px;
        /* расстояние между кнопкой и бургером */
    }

    .headerNav {
        width: auto;

    }

    .publishTabletOnly {
        display: block;
        margin-left: auto;
        margin-right: 16px;
    }

    .publishBtn {
        border: 1px solid #4169e1;
        border-radius: 8px;
        padding: 6px 14px;
        background: #4169e1;
        color: #fff;
        font-weight: 500;
        height: 35px;
        font-size: 18px;
        font-family: 500;
    }

    .publishBtn:hover,
    .publishBtn:focus {
        background: #e8eeff;
        color: #000;
        border: 1px solid #4169e1;
    }

    .publishBtn:active {
        background: #7a96ea;
    }
}

@media screen and (min-width: 1440px) {

    /* для прозорого хедера*/
    .navLink_transparent {
        color: #fff;
    }

    /* для бiлого хедера */
    .navLink_white {
        color: #000;
    }

    .headerSection {
        margin: 0 auto;
    }

    .headerContainer {
        max-width: 1312px;
        height: 72px;
        margin: 0 auto;
    }

    .headerNav {
        display: flex;
        height: 40px;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }

    .burgerBtn {
        display: none;
    }

    .headerNavList {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        height: 40px;
    }

    /* для прозорого хедера*/
    .headerNavList li a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        border-radius: 8px;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease;
        border: 1px solid transparent;
    }

    .headerNavList li a:hover {
        border-color: #fff;
        background: rgba(255, 255, 255, 0.1);
    }

    .headerNavList li a:focus-visible {
        outline: 1px solid #fff;
        outline-offset: 1px;
        background: rgba(255, 255, 255, 0.1);
    }

    .headerNavList li a:active {
        background: #d8d8d8;
        color: #000;
        transform: scale(0.98);
    }

    /* для бiлого хедера */

    .headerNavList li a.navLink_white {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        border-radius: 8px;
        color: #000;
        text-decoration: none;
        transition: all 0.3s ease;

    }

    .headerNavList li a.navLink_white:hover {
        border: 1px solid #000;

    }

    .headerNavList li a.navLink_white:focus-visible {
        outline: 1px solid #000;
        outline-offset: 1px;

    }

    .headerNavList li a.navLink_white:active {
        background: #d8d8d8;
        border: 1px solid #000;
        color: #000;
        transform: scale(0.98);
    }

    .headerNav button:focus-visible,
    .headerNav a:focus-visible {
        outline: 1px solid #fff;
        outline-offset: 1px;
        background: #4169e1;
    }


    .mobNavList .headerLogout {
        color: #fff;

    }

    .publishTabletOnly {
        display: none;
    }
}