.footer {
    width: 100%;
    background: #e8eeff;
    color: #000;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 474px;
    box-sizing: border-box;
    width: calc(100% + 128px);
    margin-left: -64px;
    margin-right: -64px;

}

.footerContainer {
    height: 378px;
}

.footerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;

    gap: 20px;
    padding-bottom: 24px;
}

.logoWrapper {
    flex-shrink: 0;
    padding-bottom: 40px;
}

.logoWrapper {
    display: flex;
    align-items: center;
}

.logoLink {
    display: flex;
    align-items: center;
    gap: 3, 31px;
    text-decoration: none;
}

.logoText {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #000;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.socialList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    gap: 16px;
    list-style: none;
    padding-bottom: 40px;
    margin: 0;
}

.footerNav {

    height: 152px;
    margin-bottom: 24px;
    padding-left: 150px;
    padding-right: 150px;

}

.footerNav ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}

.footerNav li {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
    padding: 8px 0;
}

.footerNav a:hover {
    color: #4169e1;
}

.footerBottom {
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #000;
    padding-top: 32px;
}

.footerBottom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
}

@media(min-width: 768px) {
    .footer {
        height: 274px;
    }

    .footerTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 704px;
    }

    .footerNav {
        height: 40px;

    }

    .footerNav ul {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
    }

    .footerBottom::before {
        width: 95%;
    }
}

@media (min-width: 1440px) {

    .footer {
        padding: 0;
    }

    .logoWrapper {
        width: 400px;
        padding-bottom: 27px;
    }

    .footerTop {
        width: 1000px;
    }

    .footerNav {
        padding: 0;
    }

    .footerNav ul {
        width: 400px;
        justify-content: end;
    }

    .footerDeck {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 80px;

        width: 1440px;
        gap: 0;
    }

    .socialList {

        width: 132px;
        margin: 0 auto;
    }

    .footerBottom::before {
        width: 100%;
    }
}