.headerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f7f9ff;
    z-index: 100;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none;
}

.headerMenu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menuLogo {
    position: absolute;
    top: 16px;
    left: 16px;
    position: static;
    display: flex;
    align-items: center;
    gap: 3, 31px;
    text-decoration: none;
}

.logoIcon {
    flex-shrink: 0;
}

.logoText {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #000;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.menuHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

.closeBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
}

.mobMenu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobNavList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    width: 100%;
    display: inline-flex;
    transition: transform 0.2s ease;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.mobNavList li a:hover,
.mobNavList li a:focus {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 0px 8px;
}

.mobNavList li a:active {
    border: 1px solid #000;
    background: #d8d8d8;
}