.headerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f7f9ff;
    z-index: 100;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none;
}

.headerMenu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menuLogo {
    position: absolute;
    top: 16px;
    left: 16px;
    position: static;
    display: flex;
    align-items: center;
    gap: 3, 31px;
    text-decoration: none;
}

.logoIcon {

    flex-shrink: 0;
}

.logoText {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #000;
    line-height: 20px;
    letter-spacing: -0.01em;

}

.menuHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

.closeBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
}

.mobMenu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobNavList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    width: 100%;
}

.publishBtn {
    border: 1px solid #4169e1;
    border-radius: 8px;
    padding: 4px 10px;
    width: 335px;
    height: 32px;
    background: #4169e1;
    color: #fff;
    font-size: 16px;
    font-family: 500px;
}

.publishBtn:hover {
    background: #e8eeff;
    color: #000;
}

.userRow {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 16px;
    margin: 0 auto;
}

.userRowRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.userName {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000;

}


.divider {
    width: 1px;
    background-color: #ccc;
    height: 29px;

}

.headerLogoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
    .desktopUserNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        justify-content: flex-end;

    }

    .desktopUserNav .publishBtn {
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 4px 10px;
        width: 202px;
        height: 35px;
        background: #fff;
        color: #000;
        font-weight: 500;
        font-size: 17px;
    }

    .desktopUserNav .publishBtn:hover {
        background: #4169e1;
        color: #fff;
        border: 1px solid #4169e1
    }

    .desktopUserNav .userRow {
        flex-direction: row;
        gap: 12px;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .headerLogout {
        color: #fff;
    }
}