.list {
  display: grid;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: 1fr;
}

.item {
}

.ownCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editBtn {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #4169e1;
  background-color: #4169e1;
  color: #ffffff;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.editBtn:hover,
.editBtn:focus {
  background-color: #e8eeff;
  color: #000;
}

.editBtn:active {
  background-color: #7a96ea;
  color: #000;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  padding-bottom: 64px;
}

.loadMoreButton {
  height: 48px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #4169e1;
  background-color: #4169e1;
  color: #ffffff;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.loadMoreButton:hover,
.loadMoreButton:focus {
  background-color: #e8eeff;
  color: #000000;
}

.loadMoreButton:active {
  background-color: #7a96ea;
  color: #000000;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
