
.category {
    height: 39px;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 8px;
   background-color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000; 
    cursor: pointer;
    transition: all 0.2s ease; 
  }

  .activeCategory {
    background-color: #f2f2f2; 
    
  }

  @media screen and (min-width: 768px){

  }

  @media screen and (min-width: 1440px){
    
  }