.authButtonsWrapper {
    display: flex;
    align-items: center;


}

.BtnItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}


.mobileLoginBtn,
.mobileRegisterBtn {
    width: 335px;
    height: 32px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.mobileLoginBtn {
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.mobileLoginBtn:hover {
    background: #4169e1;
    color: #fff;
}

.mobileRegisterBtn {
    background: #4169e1;
    border: 1px solid #4169e1;
    color: #fff;
}

.mobileRegisterBtn:hover {
    background: #e8eeff;
    color: #000;
}

@media screen and (min-width: 1440px) {
    .BtnItem {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        width: auto;
    }

    /* Общие стили для всех кнопок */
    .desktopLoginTransparent,
    .desktopRegisterTransparent,
    .desktopLoginWhite,
    .desktopRegisterWhite {
        border-radius: 8px;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 4px 12px;
        width: auto;
        height: 35px;
        transition: all 0.3s ease;
        border: 1px solid transparent;

    }

    /* Прозорий хедер */
    .desktopLoginTransparent {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .desktopLoginTransparent:hover,
    .desktopLoginTransparent:focus {
        background-color: #4169e1;
        color: #fff;
        border-color: #4169e1;
    }

    .desktopLoginTransparent:active {
        background-color: #1a2a5a;
        border: 1px solid rgba(255, 255, 255, 0);
    }

    .desktopRegisterTransparent {
        color: #000;
        background-color: #fff;
        border: 1px solid #fff;
    }

    .desktopRegisterTransparent:hover,
    .desktopRegisterTransparent:focus {
        background-color: #4169e1;
        color: #fff;
        border-color: #4169e1;
    }

    .desktopRegisterTransparent:active {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: #1a2a5a;
    }

    /* Білий хедер */
    .desktopLoginWhite {
        color: #000;
        background-color: #f0f0f0;
        border: 1px solid #000;
    }

    .desktopLoginWhite:hover,
    .desktopLoginWhite:focus {
        background-color: #4169e1;
        color: #fff;
        border-color: #4169e1;
    }

    .desktopLoginWhite:active {
        background-color: #1a2a5a;
        border: 1px solid rgba(255, 255, 255, 0);
    }

    .desktopRegisterWhite {
        color: #fff;
        background-color: #4169ff;
        border: 1px solid #4169ff;
    }

    .desktopRegisterWhite:hover,
    .desktopRegisterWhite:focus {
        background-color: #e8eeff;
        border: 1px solid #4169e1;
        color: #000;
    }

    .desktopRegisterWhite:active {
        border: 1px solid #4169e1;
        background: #7a96ea;
    }
}