.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
.noAuth {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 768px;
    height: 400px;
    padding: 64px;
  
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 9999;

}

.btnClose {
    position: absolute;
    top: 24px;
    right: 24px;
  
    background: transparent;
    border: none;
    cursor: pointer;
    stroke: #000000;
  width: 32px;
  height: 32px;
}


.title {
    box-sizing: border-box;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    color: #000000;
    max-width: 640px;
}

.text {
    box-sizing: border-box;
    font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 32px;
  max-width: 640px;
}

.btns {
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: center;
    
}

.btnLogin {
    display: flex;
    justify-content: center;
    width: 203px;
    border-radius: 8px;
    background-color: #F2F2F2;
    height: 48px;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.btnRegister {
    display: flex;
    justify-content: center;
    width: 203px;
    border-radius: 8px;
    background-color: #4169E1;
    height: 48px;
    text-align: center;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .noAuth {
        width: 704px;
        height: 310px;
        padding: 64px 32px;
    
    }
    
    .btnClose {
        top: 16px;
        right: 16px;
    }
    
    .title {
        font-size: 32px;
    }
    
    .text {
        font-size: 16px;
    }
    

}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .noAuth {
        width: 335px;
        height: 386px;
        padding: 64px 20px 20px 20px;
    
    }
    .btnClose {
        top: 20px;
        right: 20px;
    }
    
    .title {
        font-size: 26px;
        max-width: 295px;
    }
    .text {
        max-width: 295px;
        font-size: 16px;
    }

    .btnLogin {
        display: flex;
        justify-content: center;
        width: 203px;
        border-radius: 8px;
        background-color: #F2F2F2;
        height: 48px;
        text-align: center;
        align-items: center;
        font-size: 18px;
    }
    .btns {
        flex-direction: column;

    }
    .btnLogin {
        width: 295px;
        height: 48px;
    }
    .btnRegister {
        width: 295px;
        height: 48px;
    }

}