.error {
  color: red;
}

.titleContainer {
  padding: 32px 0px;
}

.formPhotoContainer {
  padding-bottom: 24px;
}

.photoContainer {
  padding-top: 8px;
  padding-bottom: 24px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fileInput {
  display: none;
}

.fileButton {
  padding: 4px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out;
}

.fileButton:hover {
  background: rgba(65, 105, 225, 1);
  color: #fff;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputForm {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.inputFormTextArea {
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  resize: none;
}

.buttonsContainer {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonForm {
  border: none;
  border-radius: 8px;
  background: rgba(65, 105, 225, 1);
  padding: 12px;
  width: 100%;
  color: #fff;
  transition: background-color 250ms ease-in-out;
}

.buttonFormBack {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  padding: 12px;
  width: 100%;
  color: #000;
}

.buttonForm:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.buttonForm:active {
  background-color: #1a2a5a;
}
