.error {
  color: red;
}

.containerForm {
  padding: 0 20px 64px 20px;
  background-color: #f7f9ff;
}

.titleContainer {
  padding: 32px 0px;
}

.formPhotoContainer {
  padding-bottom: 24px;
}

.photoContainer {
  padding-top: 8px;
  padding-bottom: 24px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fileInput {
  display: none;
}

.fileButton {
  padding: 4px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out;
}

.fileButton:hover {
  background: rgba(65, 105, 225, 1);
  color: #fff;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputForm {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #f7f9ff;
}

.inputForm:focus {
  border: 1px solid #4169E1;
}

.inputFormTextArea {
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  resize: none;
  background-color: #f7f9ff;
}

.inputFormTextArea:focus {
  border: 1px solid #4169E1;
}

.buttonsContainer {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonForm {
  border: 1px solid transparent;
  border-radius: 8px;
  background: rgba(65, 105, 225, 1);
  padding: 12px;
  width: 100%;
  color: #fff;
  transition:
    background-color 250ms ease-in-out,
    border 250ms ease-in-out,
    color 250ms ease-in-out;
}

.buttonFormBack {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  padding: 12px;
  width: 100%;
  color: #000;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.buttonForm:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.buttonForm:hover {
  color: #000;
  border: 1px solid #4169e1;
  background-color: #e8eeff;
}

.buttonForm:active {
  background-color: #1a2a5a;
}

.buttonFormBack:hover {
  background-color: rgba(65, 105, 225, 1);
  color: #fff;
}

.inputError {
  border: 1px solid red;
  background: #fff5f5;
}

@media (min-width: 768px) {
  .containerForm {
    padding: 0 32px 64px 32px;
  }
}
