.card {
  width: 335px;
  height: 363px;
  background: #e8eeff;
  padding: 24px;
  border-radius: 16px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
  text-align: left;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px #0000001a;
}

.photoWrapper {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
  margin-right: auto;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.name {
  color: #000;
  font-family: Nunito Sans;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.03;
  margin-bottom: 16px;
}

.description {
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 16px;

  max-height: 72px;
  overflow: hidden;
  flex-grow: 1;
}

.button {
  margin-top: auto;
  height: 48px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 12px;

  border: none;
  border-radius: 8px;
  background: #0000000d;

  position: relative;

  color: #000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  outline: none;
  transition:
    background 0.3s,
    color 0.3s;
}

.button:hover,
.button:focus {
  background: #4169e1;
  color: white;
  border: 1px solid transparent; /* як у тебе */
}

.button::after {
  content: '';
  position: absolute;

  right: 20px;
  top: 0;
  bottom: 0;

  width: 267px;
  background-color: transparent;

  border: 1px solid #00000026;
  border-radius: 8px;
}

.button:hover::after {
  border-color: transparent;
}

@media (min-width: 768px) {
  .card {
    width: 340px;
  }

  .button::after {
    right: 25px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 310px;
    height: 384px;
  }

  .name {
    line-height: 1.5;
  }

  .description {
    line-height: 1.5;
    max-height: 81px;
  }

  .button {
    border: 1px solid #00000026;
  }

  .button::after {
    display: none;
  }
}
