.card {
  width: 310px;
  height: 384px;
  background: #e8eeff;
  padding: 24px;
  border-radius: 16px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
  text-align: left;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px #0000001a;
}

.photoWrapper {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: 0;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.name {
  color: #000000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 16px;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description {
  color: #000000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 16px;
  max-height: 81px;
  flex-grow: 1;
  overflow: hidden;
}

.button {
  margin-top: auto;
  height: 48px;
  width: 100%;

  justify-content: center;
  align-items: center;

  padding: 6px 12px;
  border: 1px solid #00000026;
  border-radius: 8px;
  background: #0000000d;

  color: #000000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;

  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.button:hover,
.button:focus {
  border: 1px solid transparent;
  background: #4169e1;
  color: white;
}
