@media (min-width: 320px) {
  .card {
    width: 100%;
    height: 363px;
    max-width: 335px;
    background: #e8eeff;
    padding: 24px;
    border-radius: 16px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    scroll-margin-top: 24px;
  }
  .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px #0000001a;
  }

  .photoWrapper {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 24px;
    margin-right: auto;
  }

  .photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .name {
    color: #000;
    font-family: Nunito Sans;
    font-size: clamp(14px, 4vw, 18px);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
  }

  .description {
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: clamp(12px, 3.5vw, 16px);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;

    max-height: 72px;
    overflow: hidden;
    flex-grow: 1;
  }

  .button {
    margin-top: auto;
    height: 48px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px 12px;

    border: 1px solid #00000026;
    border-radius: 8px;
    background: #0000000d;

    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    outline: none;
    transition:
      background 0.3s,
      color 0.3s;
  }

  .button:hover,
  .button:focus {
    background-color: #4169e1;
    border: 1px solid #0000000d;
    color: #ffffff;
  }

  .button:active {
    background-color: #1a2a5a;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}

@media (min-width: 375px) {
  .name {
    font-size: 18px;
  }
  .description {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .card {
    width: 340px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 310px;
    height: 384px;
  }

  .name {
    font-size: 26px;
  }

  .description {
    font-size: 18px;
    max-height: 81px;
  }
  .button {
    font-size: 18px;
  }
}
