/* =================== MOBILE FIRST =================== */
@media (min-width: 320px) {
  .ourTravellersSection {
    width: 100%;
    padding: 64px 5vw;
    box-sizing: border-box;
    background: #f7f9ff;
    margin: 0;
  }

  .sectionTitle {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin: 0 auto 48px auto;
    font-size: clamp(24px, 5vw, 28px);
    max-width: 335px;
  }

  .travellersGrid {
    display: grid;
    gap: 24px;
    padding: 0;
    list-style: none;
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .loadMoreContainer {
    display: none;
  }
}

/* =================== Мобілка фікс 375 =================== */
@media (min-width: 375px) {
  .ourTravellersSection {
    padding: 64px 20px;
  }
  .sectionTitle {
    font-size: 28px;
  }

  .travellersGrid {
    max-width: 335px;
  }
}

/* =================== TABLET (768px - 1439px) =================== */
@media (min-width: 768px) {
  .ourTravellersSection {
    padding: 64px 32px;
  }

  .sectionTitle {
    font-size: 44px;
    max-width: 704px;
  }

  .travellersGrid {
    max-width: 704px;
    margin: 0 auto 48px auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .loadMoreContainer {
    display: flex;
    justify-content: center;
  }

  .loadMoreButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    border-radius: 8px;
    border: 1px solid #4169e1;
    background: #4169e1;
    color: #ffffff;
    padding: 6px 12px;
    font-size: 16px;

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  .loadMoreButton:hover,
  .loadMoreButton:focus {
    background-color: #e8eeff;
    color: #000000;
    transform: translateY(-1px);
  }

  .loadMoreButton:active {
    background-color: #7a96ea;
    color: #000000;
  }
}

/* =================== DESKTOP (1440px+) =================== */
@media (min-width: 1440px) {
  .ourTravellersSection {
    padding: 72px 64px;
  }

  .sectionTitle {
    font-size: 52px;
    max-width: 1312px;
  }

  .travellersGrid {
    max-width: 1312px;
    grid-template-columns: repeat(4, 1fr);
  }

  .loadMoreButton {
    font-size: 18px;
  }
}
