.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  min-width: 375px;
  padding: 0px 20px;
  height: 812px;
}

.content {
  padding: 24px 0px;
  width: 335px;
  height: 668px;
  max-width: 1280px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  width: 335px;
  height: 126px;
  margin: 0;
  padding: 0;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
  .page {
    width: 768px;
    height: 900px;
    padding: 0px 32px;
    align-items: baseline;
  }

  .content {
    padding: 24px 0;
    width: 704px;
    height: 736px;
    max-width: 1280px;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 24px;
    width: 644px;
    height: 130px;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .page {
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    padding: 0 64px;
    align-items: center;
  }

  .content {
    padding: 64px 0px;
    width: 1312px;
    height: 756px;
    max-width: 1312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 644px;
    height: 186px;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000000;
    margin: 0 auto 32px;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
