.storyPopular {
  width: 335;
  margin: 0 auto;
  padding: 62px 0;
}

.storyTitle {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.readBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.readButton {
  border: 1px solid #4169e1;
  border-radius: 8px;
  padding: 6px 12px;
  width: 147px;
  height: 48px;
  background-color: #4169e1;

  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  min-width: 58px;
  padding: 4px 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.readButton{
  background-color: #2563eb;
}
.readButton:hover,
.readButton:focus{
  background-color: #e8eeff;
  border-color: #1e3a8a;
  color: #000;
}

.readButton:active{
  background-color: #7a96ea;
  border-color: #1e3a8a;
}
@media screen and (min-width: 768px) {
  .storyPopular {
    width: 704px;
    margin: 0 auto;
    padding: 64px 0;
  }

  .storyTitle {
    font-size: 44px;
  }
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
  .readButton {
    display: inline-block;
  }
}

@media screen and (min-width: 1440px) {
  .storyPopular {
    width: 1312px;
    margin: 0 auto;
    padding: 72px 0;
  }
  .storyTitle {
    font-size: 52px;
    margin-bottom: 40px;
  }
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
  .readButton {
    font-size: 18px;
    width: 163px;
  }
}
