.story {
    width: 335;
    margin: 0 auto;
    padding: 62px 0;
  }
  
  .storyTitle {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 40px;
    text-align: center;
    width: 300px;
  }
 .cat{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 40px;
  }
  
  .readBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .readButton {
    border: 1px solid #4169e1;
    border-radius: 8px;
    padding: 6px 12px;
    width: 335px;
    height: 48px;
    background-color: #4169e1;
  
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  
    min-width: 58px;
    padding: 4px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }
  .readButton{
    background-color: #2563eb;
  }
  .readButton:hover,
  .readButton:focus{
    background-color: #e8eeff;
    border-color: #1e3a8a;
    color: #000;
  }
  
  .readButton:active{
    background-color: #7a96ea;
    border-color: #1e3a8a;
  }
  @media screen and (min-width: 768px) {
    .story {
      width: 704px;
      margin: 0 auto;
      padding: 64px 0;
    }
  
    .storyTitle {
      font-size: 48px;
      width: 704px;
    }
    .list {
      grid-template-columns: repeat(4, 1fr);
    }
    .readButton {
      width: 123px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .story {
      width: 1312px;
      margin: 0 auto;
      padding: 72px 0;
    }
    .storyTitle {
      font-size: 56px;
     width: 1312px;
    }
    .list {
      grid-template-columns: repeat(3, 1fr);
    }
    .readButton {
      font-size: 18px;
      width: 135px;
    }
  }
  