.headerJoin{
    font-family: var(--second-family);
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
}

.container{
    max-width: 1440px;
    margin:  0 auto;
}
.infoText{
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    margin-top: 24px;
}

.registerButton{
    height: 48px;
    width: 169px;
    border-radius: 8px;
    padding:  6px 12px;
    background-color: #4169E1;
    color: #fff;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.5;
    margin-top: 42.5px;
}

.backgroundJoin{
    background-image: url('/moonlit-coral-reef.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    width: 1312px;
    height: 436px;
    border-radius: 24px;
}

.wrapper{
    padding-left: 64px;
    padding-top: 77.66px;
    padding-bottom: 78.34px;
    max-width: 558px;
}


@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container{
        max-width: 768px;
    }

    .backgroundJoin{
        width: 704px;
        height: 260px;
    }
    .headerJoin{
        font-size: 32px;

    }
    .infoText{
        font-size: 16px;
        margin-top: 8px;
    }

    .registerButton{
        font-size: 16px;
        width: 153px;
        margin-top: 16px;
    }
    .wrapper{
        padding-top: 31.96px;
        padding-left: 32px;
        padding-bottom: 64px;
    }
}

@media screen and (min-width:385px) and (max-width: 767px) {
    .container{
        max-width: 385px;
    }
    .backgroundJoin{
        width: 335px;
        height: 262px;
        background-position: left;
    }
    .headerJoin{
        font-size: 26px;
    }
    .registerButton{
        width: 295px;
        margin-top: 24px;
        margin-bottom: 20px;
    }
    .wrapper{
        max-width: 295px;
        padding-top: 19.6px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .infoText{
        margin-top: 16px;
    }
}